body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ff485e;
  transition: background-color linear 100ms;
}

.content {
  padding: 1.5em;
  background: white;
}
.content-inner {
  max-width: 40em;
  margin: 0 auto;
}
.content-title {
  font-size: 26px;
  margin: 0 0 0.75rem 0;
  line-height: 1;
}

.states {
  background: white;
  text-align: left;
  padding: 1.5em 0;
}
.states .content-title {
  text-align: center;
}

.states-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-bottom: 2px solid #eee;
}
.states-inner-row {
  display: grid;
  grid-template-columns: 1fr 1fr 10px;
}
.states-name {
  font-weight: bold;
}
.states-caret {
  width: 10px;
}

.faq {
  background-color: #1c2458;
  color: white;
}
.faq-content h3,
.faq-content p {
  line-height: 1.5;
}
.faq-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.faq-content p {
  margin: 0 0 1.5em 0;
}
.faq a {
  color: #a0e5ff;
}

.icons-twitter {
  margin-right: 10px;
}
.icons-twitter,
.icons-instagram {
  text-decoration: none;
}
.icons-twitter img,
.icons-instagram img {
  width: 40px;
}
