.mobile,
.desktop {
  width: 100%;
  height: 100%;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
